<footer class="bg-dark text-light py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                                <img src="{{ '/assets/img/pulsarventures.png' | relative_url }}" alt="Pulsar Ventures Logo" style="height: 50px;" class="mb-3">
                <p class="text-light">
                    We Bootstrap your Business. As a venture studio, we blend consulting and product development to accelerate business growth.
                </p>
                <div class="social-links">
                    {% for link in site.author.links %}
                    <a href="{{ link.url }}" class="text-muted me-3" target="_blank" rel="noopener">
                        <i class="{{ link.icon }}"></i>
                    </a>
                    {% endfor %}
                </div>
            </div>
            
            <div class="col-lg-2 mb-4">
                <h6 class="mb-3">Products</h6>
                <ul class="list-unstyled">
                    <li><a href="{{ '/products#finciples' | relative_url }}" class="text-light text-decoration-none">Finciples</a></li>
                    <li><a href="{{ '/products#link-library' | relative_url }}" class="text-light text-decoration-none">Link Library</a></li>
                    <li><a href="{{ '/products#chatpilot' | relative_url }}" class="text-light text-decoration-none">ChatPilot</a></li>
                </ul>
            </div>
            
            <div class="col-lg-2 mb-4">
                <h6 class="mb-3">Services</h6>
                <ul class="list-unstyled">
                    <li><a href="{{ '/services#consulting' | relative_url }}" class="text-light text-decoration-none">Consulting</a></li>
                    <li><a href="{{ '/services#workshops' | relative_url }}" class="text-light text-decoration-none">Workshops</a></li>
                    <li><a href="{{ '/services#coaching' | relative_url }}" class="text-light text-decoration-none">Coaching</a></li>
                    <li><a href="{{ '/services#speaking' | relative_url }}" class="text-light text-decoration-none">Speaking</a></li>
                </ul>
            </div>
            
            <div class="col-lg-2 mb-4">
                <h6 class="mb-3">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="{{ '/company' | relative_url }}" class="text-light text-decoration-none">About</a></li>
                    <li><a href="{{ '/company#our-team' | relative_url }}" class="text-light text-decoration-none">Team</a></li>
                    <li><a href="{{ '/company#clients' | relative_url }}" class="text-light text-decoration-none">Clients</a></li>
                    <li><a href="{{ '/company#partnerships' | relative_url }}" class="text-light text-decoration-none">Partnerships</a></li>
                </ul>
            </div>
            
            <div class="col-lg-2 mb-4">
                <h6 class="mb-3">Connect</h6>
                <ul class="list-unstyled">
                    <li><a href="{{ '/contact' | relative_url }}" class="text-light text-decoration-none">Contact</a></li>
                    <li><a href="{{ site.contact.calendly }}" class="text-light text-decoration-none" target="_blank">Schedule Call</a></li>
                    <li><a href="{{ site.contact.linkedin }}" class="text-light text-decoration-none" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        
        <hr class="my-4">
        
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <p class="text-light mb-0">&copy; {{ 'now' | date: "%Y" }} Pulsar Ventures. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
